<body>
    

  <div class="padding">
      <div class="row d-flex justify-content-center">

        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 ">

                <img [src]="customer.photoUrl" class="img-radius" alt="User-Profile-Image" width="60%">
                                                        
                </div>
            <div class="col-sm-5">
                <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                    <div class="row"> 
                    <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Username</p>
                    <h6 class="text-muted f-w-400">{{customer.userName}}</h6>
                </div>
                <div class="col-sm-6">
                 <p class="m-b-10 f-w-600">User ID:</p>
                <h6 class="text-muted f-w-400">{{customer.id}}</h6>
                </div>
            </div>
                                                            
            <div class="row secondline">
                <div class="col-sm-6">
                <p class="m-b-10 f-w-600">City</p>
                <h6 class="text-muted f-w-400">{{customer.city}}</h6>
            </div>
            <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Email</p>
                <h6 class="text-muted f-w-400">{{customer.email}}</h6>
            </div>
            </div>
         
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
</body>                                            
                                          