body{
  min-height: 100vh;
}

.avatar{
width:200px;
height:200px;

}

.personal-info{
  padding: 5px;
}

.upload-text{
  padding: 10px 10px;
}


.Uploadcard-footer {
  padding: 10px 15px;
  width: 40%;

}

.inline{
  margin-top: 10px;
  margin-left:25%;
  padding: 5px;
  width: 40%;
  display: inline-block;

}

.trash{
  margin-top: 10px;
  width: 10%;
  margin-left: 2px;
}

.card-footer {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: white;
    border-top: none;
    width: 40%;
    margin-left: 7vw;
  }

  .container{
    margin-top: 3%;
  }

  .label{
    color: rgb(0, 0, 0);
  }