

<div class="footer-dark">
    <footer>
      <div class="container">
          <div class="row">
      
              <div class="col-sm-6 col-md-2 text item">
                <h3>Address</h3>
                  <p>50, Haifa Isfyia, Zuhluk </p>
                            
              </div>
    
              <div class="col-sm-6 col-md-2 text item">
                <h3>About</h3>
                <a href="" class="btn btn-link btn-floating btn-lg text-dark about" routerLink="about" >About us</a>
              </div>

              <div class="col-sm-6 col-md-2 item">
                <h3>Find us on:</h3>
                <section class="mb-4 icons">
                  <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1 icon"
                    href="https://www.facebook.com/elefpinukim"
                    target="_blank"
                    role="button"
                    data-mdb-ripple-color="dark"
                    ><i class="fa fa-facebook-f"></i
                  ></a> 
                  <a
                    class="btn btn-link btn-floating btn-lg text-dark "
                    href="https://www.instagram.com/rema_bisan/?hl=en"
                    target="_blank"
                    role="button"
                    data-mdb-ripple-color="dark"
                    ><i class="fa fa-instagram"></i
                  ></a>
                 
                </section>
              </div>
    
               <div class="col-sm-6 col-md-3 item text ">
                  <h3 class="ContactLabel">Contact Us</h3>
                  <p><i class="fa fa-envelope Contact" aria-hidden="true"></i> 1000Pinokem@gmail.com</p>
                  <p><i class="fa fa-phone Contact" aria-hidden="true"></i> 052-5453512</p>
              </div>
          

          </div>
          <p class="copyright">HibaAzzam © 2022 </p>
          
      </div>
    </footer>
    </div>