body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "lato", sans-serif;
    
  }

  .signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:rgb(249, 249, 236);
 
   
  }

  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }



  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  


  .label {
    margin-left: 5px;
  }