<body>
  

<div class="container">

  <div class="left-column">
    <ngx-gallery *ngIf="product.photoUrl" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    <img *ngIf="!(product.photoUrl)" height="300px" class="card-img-top" [src]="product.photoUrl || './assets/default-img.png'" alt="{{product.productName}}">
  </div>
 
 

  <div class="right-column">
 

    
      <h1>{{product.productName}}</h1>
      <div class="product-description">
      <div>{{product.productDescription}}</div>
    </div>
    
    <div class="qty quantity">
      <span (click)="decQuantity(product)" class="minus bg-dark">-</span>
      <input  readonly id="quantity" name="quantity" min="1" max="5" type="number" class="count" value="{{quantity}}">
      <span (click)="incQuantity(product)" class="plus bg-dark">+</span>
  </div>

    <div class="product-price">
      Total:<span class="total"> {{product.total}}$</span>
      <a href="#" (click)="addToCart(product, $event)" class="cart-btn">Add to cart</a>
      <a href="#" (click)="addOrder(product, $event)" class="cart-btn">BUY</a>

    </div>
    
  </div>
</div>
</body>
