<div class="about-section">
   <img src="../assets/elefpinokem.png" alt="">
 
  <h2 style="text-align:center">About us</h2>
  
  <div class="container text-center">

   <p> We have a huge variety of housewares, patents and Johnson cleaning supplies.</p>
   <p>You will also find a selection of gifts and products for children.</p>

    <p> Our shop located in Haifa, Isfiya</p>
    
    <p> We are open all days of the week except Friday and Saturday,</p>
    <p>hours: 11:00-17:00</p>

    <p>There are deliveries all over the country.</p>
  </div> </div>
  