<body>
  
<section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" >
            <div class="card-body p-5">
  
              <p class="lead fw-bold mb-5">Order Details</p>
  
              <div class="row fline">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p>{{order.orderDate | date: 'shortDate'}}</p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order No.</p>
                  <p>{{order.orderId}}</p>
                </div>
              </div>
  
              <div class="mx-n5 px-5 py-4" >
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p>{{order.product.productName}}</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p>${{order.product.price}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Quantity</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p class="mb-0">{{order.quantity}}</p>
                  </div>
                </div>
              </div>
  
              <div class="row my-4">
                <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                  <p class="lead fw-bold mb-0">Total: ${{order.total}}</p>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>